<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<body>
    <h1>This is the homepage</h1>
    
    <h3>
        <%= ["hello","konnichiwa","salam"][1] %>
    </h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error iure ad, esse aut veniam itaque mollitia
        blanditiis voluptatem fugiat libero illum saepe, est quas ipsa sunt voluptate molestiae ex odit numquam
        corporis. Similique laudantium obcaecati quisquam, vitae dolor, aspernatur quia earum perferendis ad odit quod.
        Optio magnam quia voluptate in?</p>
    <button>Click me!</button>
</body>

</html>