<%- include("includes/head.ejs") %>
<body>
    <h1>Your dice rolled : <%= diceVal %>
    <% if(diceVal == 6){ %>
        <h2>Dice rolled 6 you can roll again.</h2>
    <% } %>
    </h1>
</body>
</html>
    
