<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form method="post" action="/posts"d>
        <input type="text" placeholder="Enter Username" name="username"><br><br>
        <textarea placeholder="Enter your content here" name="content"></textarea><br><br>
        <button type="submit">submit post</button>
    </form>
</body>
</html>