<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new entry</title>
</head>
<body>
    <form action="" method="post">
        <table border="1px solid black">  
            <tr>    
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
            <tr>
                <td><input type="text" name="user"  placeholder="Name"></td>
                <td><input type="text" name="email" placeholder="Email"></td>
                <td><input type="password" name="pass" placeholder="Password"></td>
            </tr>
            <tr>
                <td>
                    <button>Add</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>